@model StockManagement.Models.Product

<h2>Add Product</h2>

@using (Html.BeginForm()) 
{
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
    </div>

    <div>
        @Html.LabelFor(m => m.Quantity)
        @Html.TextBoxFor(m => m.Quantity)
    </div>

    <input type="submit" value="Save" />
}
